{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/hostel.css' %}">
{% endblock %}
{% block content %}
    <div id="imageCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div style="height: 600px; overflow: hidden;">
                    <img src="{% static 'images/local-boarding-header-banner-image.jpg' %}" class="d-block w-100"
                         alt="Slide 1"
                         style="object-fit: cover; height: 100%; width: 100%;">
                </div>
            </div>
            <div class="carousel-item">
                <div style="height: 600px; overflow: hidden;">
                    <img src="{% static 'images/pawss-stay-hero.jpg' %}" class="d-block w-100" alt="Slide 2"
                         style="object-fit: cover; height: 100%; width: 100%;">
                </div>
            </div>
            <div class="carousel-item">
                <div style="height: 600px; overflow: hidden;">
                    <img src="{% static 'images/pngtree-pet-hotel-hall-flat-color-vector-illustration-banner-facility-domestic-vector-png-image_31323792.jpg' %}"
                         class="d-block w-100" alt="Slide 3" style="object-fit: cover; height: 100%; width: 100%;">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container mt-5">
        <div class="row">
            <!-- Left Part - Book an Appointment -->
            <div class="col-md-6">
                <div class="card h-100 well-block rounded-5" style="background-color: #34495E;">
                    <div class="card-body text-light">
                        <div class="well-title text-center mb-5">
                            <h2>Our Facilities</h2>
                        </div>
                        <div class="feature-block">
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">One for All</h4>
                                <div class="feature-content text-light">
                                    <p>We have facilities for Cats, Dogs, Birds and Others</p>
                                </div>
                            </div>
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">Healthy Environment</h4>
                                <div class="feature-content text-light">
                                    <p>Aliquam sit amet mi eu libero fermentum bibendum pulvinar a turpis. Vestibulum
                                        quis
                                        feugiat risus.</p>
                                </div>
                            </div>
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">Separate Capsule Rooms</h4>
                                <div class="feature-content text-light">
                                    <p>Praesent eu sollicitudin nunc. Cras malesuada vel nisi consequat pretium. Integer
                                        auctor elementum nulla suscipit in.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Right Part - Why Choosing Us -->
            <div class="col-md-6">
                <div class="card h-100 well-block rounded-5" style="background-color: #34495E;">
                    <div class="card-body text-light">
                        <div class="well-title text-center mb-5 ">
                            <h2>Why Choose Us</h2>
                        </div>
                        <div class="feature-block">
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">24/7 Hours Available</h4>
                                <div class="feature-content text-light">
                                    <p>Integer nec nisi sed mi hendrerit mattis. Vestibulum mi nunc, ultricies quis
                                        vehicula
                                        et, </p>
                                </div>
                            </div>
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">Experienced Staff Available</h4>
                                <div class="feature-content text-light">
                                    <p>Aliquam sit amet mi eu libero fermentum bibendum pulvinar a turpis. Vestibulum
                                        quis
                                        feugiat risus.</p>
                                </div>
                            </div>
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">Low Price & Fees</h4>
                                <div class="feature-content text-light">
                                    <p>Praesent eu sollicitudin nunc. Cras malesuada vel nisi consequat pretium. Integer
                                        auctor elementum nulla suscipit in.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container mt-4">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="{% static 'images/pets-hotel-set-doodle-style_341076-236.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="col-md-4 p-4 card text-light rounded-5" style="background-color: #A9A9A9">
            <div class="well-block">
                <div class="well-title">
                    <h2 style="text-align:center " style="margin-top:100px;">Book a Boarding</h2>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <!-- Form start -->
                    <div class="row">
                        <!-- Date input-->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="date">Preferred Date</label>
                                <input id="date" name="date" type="date" placeholder="Preferred Date"
                                       class="form-control input-md">

                            </div>
                        </div>
                        <!-- Select Basic -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="time">Preferred Time</label>
                                <select id="time" name="time" class="form-control">
                                    <option value="8:00 to 9:00">8:00 to 9:00</option>
                                    <option value="9:00 to 10:00">9:00 to 10:00</option>
                                    <option value="10:00 to 1:00">10:00 to 1:00</option>
                                </select>
                            </div>
                        </div>
                        <!-- Select Basic -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="room">Room No.</label>
                                <select id="room" name="room" class="form-control">
                                    <option value="201">201</option>
                                    <option value="204">204</option>
                                    <option value="205">205</option>
                                    <option value="206">207</option>
                                </select>
                            </div>
                            <div class="text-danger">
                                <?php echo $error ?>
                            </div>

                        </div>
                        <!-- Button -->
                        <div class="col-md-12 text-center">
                            <div class="form-group">
                                <!-- <button id="singlebutton" name="submit" class="btn btn-primary">Submit</button> -->
                                <input type="submit" name='submit' class="btn brand search-button nav_text"
                                       value="Submit">
                            </div>
                        </div>

                    </div>
                </form>
                <!-- form end -->
            </div>

        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}
</body>
